@media screen and (min-width: 1024px){
.line{
    width: 500px;
    // max-width: 50%;
    margin: 0 auto;
}
.mat-list-item{
    font-size: large;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    padding: 5px 16px;
    color:white;
    position: relative;
    background-color: deeppink;
    height: inherit;
}
.mat-list-item:hover{
    background-color: rgb(253, 167, 250);
}

.topImg{
    width: 400px;
    margin: 0 auto;
    margin-top:2vh;
}
.topImgContent{
    width: 400px;
}

}


@media screen and (max-width: 1024px){
.line{
    width: 75vw;
    // max-width: 50%;
    margin: 0 auto;
}
button{
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 5px;
    font-size: x-large;
}
.topImg{
    width: 75vw;
    margin: 0 auto;
    margin-top:2vh;
}
.topImgContent{
    width:75vw;
}

.mat-list-item{
    font-size: large;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    padding: 5px 16px;
    color:white;
    position: relative;
    background-color: deeppink;
    height: inherit;
}
.mat-list-item:hover{
    background-color: rgb(253, 167, 250);
}
.scrolling{
    overflow:scroll;
}
}