<app-header></app-header>

<div class="line">
<app-menu *ngIf="pageNumber==1" (event)="onParent($event,1)"></app-menu>
<app-menu2 *ngIf="pageNumber==2" (event)="onParent($event,2)"></app-menu2>
<app-menu3 *ngIf="pageNumber==3" (event)="onParent($event,3)"></app-menu3>
<app-result *ngIf="pageNumber==4" [imgpath]=[resultImg] [pName]=[presentName] (event)="reStart()"></app-result>
<div *ngIf="pageNumber<1" class="topImg">
    <img class="topImgContent" src="../../assets/top.png">
</div>
<button mat-raised-button *ngIf="pageNumber<1" color="accent" (click)="start()">診断を始める</button>
</div>

<!-- <app-footer class="footer"></app-footer>  -->